::selection {
  background: $pink;
  color: #fff;
}

.hero {
  background-color: $teal;
  padding: $x-large-spacing $large-spacing;
  overflow: hidden;
  position: relative;
  @media (max-height: 775px) {
  min-height: 98vh;
  }

  @media (min-width: 450px) {
    padding: $xxx-large-spacing $x-large-spacing $xx-large-spacing $xxx-large-spacing;
  }

  &:before {
    background-color: $purple;
    bottom: -140px;
    content: "";
    display: block;
    position: absolute;
    right: -60%;
    top: 0;
    transform: skewX(-18deg);
    width: 100%;
    z-index: 0;
  }
}

.hero__container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.logo,
.date,
.address {
  font-family: $seconday-heading-font-family;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}

.logo {
  color: $purple;

  @media (min-width: 725px) {
    margin-bottom: $large-spacing;
  }

  &::before {
    @include size(78px, 107px);
    background-image: url(/assets/images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    content: "";

    @media (max-width: 450px) {
      float: left;
      margin-right: $base-spacing;
      margin-left: -10px;
    }

    @media (min-width: 450px) {
      @include size(116px, 174px);
      position: absolute;
      top: -6rem;
      left: -9rem;
    }
  }

  a {
    text-decoration: none;
  }
}

.date {
  color: #fff;
  position: absolute;
  top: -$x-large-spacing;
  right: 0;

  @media (min-width: 910px) {
    color: $teal;
  }

  &:after {
    @include size(102px, 35px);
    content: "";
    display: block;
    position: absolute;
    background-image: url(/assets/images/date-underline.svg);
    top:22px;
    left: 1rem;
  }
}

.address {
  color: #fff;
  margin-bottom: $large-spacing;

  a {
    text-decoration: none;
  }

  @media (min-width: 725px) {
    color: $purple;
    position: absolute;
    top: 20rem;
    left: -18rem;
    transform: rotate(90deg);
    margin-bottom: 0;
  }

  &:after {
    @media (max-width: 725px) {
      display: none;
    }

    @include size(38px, 305px);
    content: "";
    display: block;
    position: absolute;
    background-image: url(/assets/images/address-underline.svg);
    transform: rotate(90deg);
    top: -8rem;
    left: 11rem;
    z-index: -1;
  }
}

.social {
  position: absolute;
  top: 0;
  right: -4rem;

  @media (max-width: 450px) {
    display: none;
  }

  li {
    margin-bottom: $small-spacing;
  }
}

.buybuybuy {
  z-index: 1;
  margin-right: $x-large-spacing;
  text-align: center;

  @media (max-width: 500px) {
  }

  @media (min-width: 910px) {
    float: right;
    margin-top: -10rem;
    position: relative;
  }

  h3 {
    font-family: $seconday-heading-font-family;
    font-size: 24px;

    .block {
      display: block;
    }

    .strike {
      text-decoration: line-through;
    }
  }

  .button {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      background-image: url(/assets/images/buy-hashes.svg);
      bottom: -4rem;
      left: -4rem;
      @include size(94px, 85px);
    }
  }
}

.emailemailemail {
  margin-top: $x-large-spacing;

  input {
    border: 0;
    font-family: $heading-font-family;
    font-size: 32px;
    border-radius: 15px;
    padding: $base-spacing;

    @media screen and (min-width: 700px) {
      font-size: 52px;
      padding: $base-spacing $large-spacing;
    }
  }

  .response {
    padding-bottom: $base-spacing;
  }

  #mc_embed_signup div.mce_inline_error {
    border-radius: 6px;
    background-color: $red;
    color: #fff;
    padding: $small-spacing;
  }
}

.headline {
  line-height: 1;
  color: $dark-gray;
  position: relative;
  z-index: 1;
  font-size: 42px;

  @media (min-width: 500px) {
    font-size: 56px;
  }

  @media (min-width: 1000px) {
    font-size: 6vw;
  }

  span {
    display: inline-block;
    position: relative;

    &:after {
      @include size(100%, 40px);
      content: "";
      display: block;
      position: absolute;
      background-image: url(/assets/images/best-underline.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      top: 0.9em;
    }
  }

  strong {
    font-weight: normal;
    display: block;
    padding-top: 8vh;
  }
}

.tweets {
  background: $orange;
  overflow: hidden;

  @media (min-width: 975px) {
    display: flex;
  }

  &.top {
    li:nth-child(1) {
      .author:after {
        display: block;
        content: "";
        background-image: url(/assets/images/twitter-ruby.svg);
        @include size(60px, 58px);
        position: absolute;
        top: 2rem;
        left: 3rem;
      }
    }

    li:nth-child(2) {
      .author {
        padding-top: $base-spacing;

        img {
          position: relative;
          width: 69px;
        }

        &:after {
          display: block;
          content: "";
          background-image: url(/assets/images/twitter-eyeballs.svg);
          @include size(60px, 58px);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: -1rem;
          left: 0.25rem;
          z-index: 0;
        }
      }
    }

    li:nth-child(3) {
      .author:after {
        display: block;
        content: "";
        background-image: url(/assets/images/twitter-sad-face.svg);
        @include size(36px, 41px);
        position: absolute;
        top: 1rem;
        left: 4rem;
      }
    }
  }

  li {
    @include clearfix;
    padding: $large-spacing;
    font-size: 1.2em;
    position: relative;

    @media (min-width: 975px) {
      display: flex;
      min-width: 30%;
      flex-direction: column;
    }

    &:nth-of-type(1)::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: -20%;
      background-color: $mustard;
      transform: skewX(5deg);
      z-index: 0;
    }

    &:nth-of-type(3)::before {
      background-color: $red;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -20%;
      left: 0;
      transform: skewX(-12deg);
      z-index: 0;
    }

    blockquote {
      margin: 0;
      flex-grow: 1;
      display: block;
      position: relative;
    }

    .author {
      position: relative;

      @media (min-width: 1200px) {
        display: flex;
      }
    }
  }
}

.commentary {
  word-wrap: break-word;
  font-family: $heading-font-family;
  color: #fff;
  font-size: 48px;
  line-height: 0.9;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  transform: rotate(7deg);
  max-width: 300px;
  margin-bottom: 0;

  li:nth-of-type(2) & {
    transform: rotate(-6deg);
  }

  li:nth-of-type(3) & {
    transform: rotate(9deg);
  }
}

.ilu {
  @include clearfix;
  font-family: $heading-font-family;
  font-size: 38px;
  padding: 15vh $x-large-spacing;
  background-image: url(/assets/images/ilu.svg);
  background-size: cover;
  background-position: center center;
  position: relative;

  @media screen and (min-width: 820px) {
    font-size: 48px;
  }

    &:before {
      position: absolute;
      content: "";
      display: block;
      background-image: url(/assets/images/asterisk-2.svg);
      bottom: -6rem;
      right: 1rem;
      @include size(113px, 148px);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 11;
    }

  .ilu__container {
    margin: 0 auto;
    max-width: 1100px;
  }

  li {
    list-style: disc;

    @media screen and (min-width: 640px) {
      @include grid-column(6);
    }
  }
}

.weirdos {
  background-color: $dark-purple;
  padding: $base-spacing $large-spacing $large-spacing;
  position: relative;
  color: #fff;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 1050px) {
    padding: $base-spacing $xxx-large-spacing $x-large-spacing;
  }

  &:after {
    background-color: $pink;
    bottom: -140px;
    content: "";
    display: block;
    position: absolute;
    left: -70%;
    top: 0;
    transform: skewX(-32deg);
    width: 100%;
    z-index: 0;
  }

  &:before {
    background-color: $dark-gray;
    bottom: -10rem;
    content: "";
    display: block;
    position: absolute;
    left: 0%;
    top: 48%;
    transform: skewY(3deg);
    width: 100%;
    z-index: 0;
  }
}

.cfp {
  position: relative;
  z-index: 1;

  h1 {
    color: $teal;
    float: left;
    max-width: 800px;
    line-height: 1;
    position: relative;
    font-size: 64px;
    margin-bottom: 6.5rem;

    @media (min-width: 500px) {
      font-size: 15vh;
      margin-bottom: 20rem;
    }

    &:after {
      position: absolute;
      content: "";
      display: block;
      background-image: url(/assets/images/weirdos-underline.svg);
      @include size(236px, 125px);
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-width: 500px) {
        @include size(336px, 195px);
      }
    }

  }

  .button {
    @include padding(null $x-large-spacing);
    margin-bottom: $large-spacing;
  }

  .cfp__content {
    @media (min-width: 880px) {
      @include position(absolute, 12rem null null 25rem);
    }

    @media (min-width: 950px) {
      left: 30rem;
    }
    @media (min-width: 1400px) {
      left: 35rem;
      top: 14rem;
    }

    p {
      max-width: 550px;
    }

    a {
      color: #fff;
    }
  }
}

.sponsor {
  position: relative;
  padding-top: $x-large-spacing;
  z-index: 1;
  clear: both;
  max-width: 1000px;

  @media (min-width: 890px) {
    margin-left: 27%;
  }

  h2 {
    margin-bottom: $large-spacing;
    font-size: 42px;

    @media screen and (min-width: 500px) {
      font-size: 64px;
    }

    &:before {
      display: block;
      position: absolute;
      top: 9rem;
      left: -16rem;
      @include size(210px, 196px);
      content: "";
      background-image: url(/assets/images/support-stars.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  p {
    margin-bottom: $large-spacing;

    @media (min-width: 1000px) {
      float: left;
      width: 45%;
      margin-right: 10%;
    }
  }

  .button {
    display: block;
    background-color: $pink;

    &:after {
      position: absolute;
      right: -90px;
      display: block;
      content: "";
      background-image: url(/assets/images/sponsor-hashes.svg);
      @include size(109px, 90px);
      background-size: cover;
      background-repeat: no-repeat;
    }

    @media (min-width: 1000px) {
      width: 45%;
      float: left;
    }
  }
}

.alamo {
  overflow: hidden;
  position: relative;
  background-color: $dark-gray;
  background-image: url(/assets/images/ritz.jpg);

  @media screen and (min-width: 950px) {
    &:before {
      background-color: $teal;
      bottom: -140px;
      content: "";
      display: block;
      position: absolute;
      right: -40%;
      top: 0;
      transform: skewX(24deg);
      width: 100%;
      z-index: 0;
    }
  }
}

.alamo__content {
  position: relative;
  padding: $x-large-spacing $large-spacing;
  z-index: 1;

  @media screen and (max-width: 949px) {
    background-color: $teal;
    margin-top: 75%;
  }

  @media (min-width: 950px) {
    padding: 15vh $large-spacing;
    margin-left: 50%;
  }

  h2 {
    font-size: 64px;
    color: $dark-purple;

    @media screen and (min-width: 950px) {
      text-indent: -4rem;
    }
  }

  h3 {
    font-family: $seconday-heading-font-family;
    text-transform: uppercase;
    color: $purple;
    font-size: 28px;
  }

  p {
    max-width: 450px;
  }
}

.history {
  padding: $x-large-spacing $large-spacing;

  @media screen and (min-width: 950px) {
    display: flex;
    padding: $xxx-large-spacing $x-large-spacing;
  }
}

.history__content {
  @media screen and (max-width: 949px) {
    text-align: center;
  }

  @media screen and (min-width: 950px) {
    padding-right: $large-spacing;
  }

  h2 {
    font-size: 64px;
    color: $orange;
  }

  h3 {
    font-family: $seconday-heading-font-family;
    text-transform: uppercase;
    color: $red;
    font-size: 28px;
  }

  p {
    max-width: 450px;

    @media screen and (max-width: 949px) {
      margin: 0 auto;
    }
  }
}

footer {
  position: relative;
  background: $purple;
  overflow: hidden;
  text-align: center;
  padding: $x-large-spacing $base-spacing;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 750px) {
    padding: $xx-large-spacing $x-large-spacing;
  }

  a {
    color: #fff;
  }

  li {
    display: inline-block;

    &:not(:last-of-type):after {
      display: inline-block;
      content: " • ";
      color: rgba(#fff, 0.8);
    }
  }

  h2 {
    margin-top: $large-spacing;

    &:before {
      @include size(135px, 171px);
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: -10rem;
      background-image: url(/assets/images/hearts.svg);
      background-repeat: no-repeat;
    }

    &:after {
      @include size(137px, 164px);
      content: "";
      display: block;
      position: absolute;
      bottom: -2rem;
      right: -9rem;
      background-image: url(/assets/images/tacos.svg);
      background-repeat: no-repeat;
    }

    a {
      text-decoration: none;
      color: $teal;
      line-height: 1;
      font-size: 32px;

      @media screen and (min-width: 400px) {
        font-size: 64px;
      }

      &:focus,
      &:hover {
        color: #fff;
      }
    }
  }

  &:before {
    background-color: $dark-purple;
    bottom: -140px;
    content: "";
    display: block;
    position: absolute;
    right: -60%;
    top: 0;
    transform: skewX(-18deg);
    width: 100%;
    z-index: 0;
  }

  h3 {
    color: #fff;
    font-size: 28px;
    font-family: $seconday-heading-font-family;
    text-transform: uppercase;
  }
}

.footer__container {
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
