---
layout: default
title: Keep Ruby Weird 2017 will be the best conference of your life.
---

<header class="hero">
  <div class="hero__container">
    <h1 class="logo"><a href="/">Keep Ruby Weird 2017</a></h1>
    <h2 class="date">October 27, 2017</h2>
    <h2 class="address"><a href="https://goo.gl/maps/xGrckMPTNcF2">320 E 6th St., Alamo Drafthouse Ritz, Austin TX</a></h2>
    <h1 class="headline"><span>The best</span> daylong conference in Austin celebrating (figurative) hugs, magic, singing, &amp; dancing! <strong>Oh, ruby too.</strong></h1>

    <div class="buybuybuy">
      <h3>
        <span class="block">Cost per ticket: </span>
        <span class="strike">$10,000,000,000,000</span> <span class="strike">Now $250</span> Now now $200
      </h3>
      <a href="https://ti.to/keep-ruby-weird/more-weird" class="button">Buy your ticket</a>
    </div>

    <ul class="social">
      <li>
        <a href="https://github.com">
          {% include github.svg %}
        </a>
      </li>
      <li>
        <a href="https://pbs.twimg.com/media/CPhvrB9WoAAOEPN.jpg">
          {% include linkedin.svg %}
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/explore/tags/keeprubyweird/">
          {% include instagram.svg %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/keeprubyweird">
          {% include twitter.svg %}
        </a>
      </li>
      <li>
        <a href="https://myspace.com">
          {% include facebook.svg %}
        </a>
      </li>
      <li>
        <a href="http://www.martinshervington.com/what-is-google-plus/">
          {% include google.svg %}
        </a>
      </li>
    </ul>
  </div>
</header>

<ul class="tweets top">
  <li>
    <blockquote>
      <p>I’ve made a huge mistake by not attending @keeprubyweird again…</p>
    </blockquote>

    <div class="author">
      <a href="https://twitter.com/blowmage/status/792116097361162241">
        <img src="/assets/images/mike.png" alt="">
      </a>
      <p class="commentary">Thanks, Captain Obvious!</p>
    </div>
  </li>

  <li>
    <blockquote>
      <p>@olivierlacan @keeprubyweird OMG. I can't look away. I think I have new desktop background</p>
    </blockquote>

    <div class="author">
      <a href="https://twitter.com/KyFaSt/status/779402778611515392">
        <img src="/assets/images/kylie.png" alt="">
      </a>
      <p class="commentary">More new backgrounds!</p>
    </div>
  </li>

  <li>
    <blockquote>
      <p>I didn't learn any routines or a new magic show, but I have a few new neat tricks and ideas from @keeprubyweird #hashtag</p>
    </blockquote>
    <div class="author">
      <a href="https://twitter.com/ottawamagician/status/792145573671428096">
        <img src="/assets/images/alex.png" alt="">
      </a>

      <p class="commentary">Sorry we failed you!</p>
    </div>
  </li>
</ul>

<section class="ilu">
  <div class="ilu__container">
  <h1>What you should expect @ keep ruby weird:</h1>
  <ul>
    <li>Hugs (figurative)!</li>
    <li>Awesome Speakers!</li>
    <li>Friends!</li>
    <li>Best Friends!</li>
    <li>New Friends!</li>
    <li>Some programming stuff!</li>
    <li>More (still figurative) Hugs!</li>
    <li>Lots of fun!</li>
  </ul>
  </div>
</section>

<section class="weirdos">
  <div class="weirdos__container">
    <h2>Meet the weirdos</h2>

    <ul class="speakers">

      <li class="speaker keynote">
        <a href="https://twitter.com/wycats">
          <img alt="Yehuda with Dave's face" src="/assets/images/yehuda.png" />
        </a>
        <h3 class="author">Yehuda Katz</h3>
        <h4>Keynote</h4>
        <p>Yehuda Katz is one of the creators of Ember.js, a member of the Rust Core Team, and a retired Ruby on Rails and jQuery Core Team member. During the day he's CTO at Tilde, where he works on Skylight, the smart profiler for Rails, and does Ember.js consulting. He's best known for his open source work, which also includes having created projects like Thor, Handlebars and Bundler. He travels the world doing open source evangelism and web standards work, and has written several successful technology books.</p>
      </li>

      <li class="speaker keynote">
        <a href="https://twitter.com/wycats">
        <a href="https://twitter.com/littlecalculist">
          <img alt="Dave with Yehuda's face" src="/assets/images/dave.png" />
        </a>
        <h3 class="author">Dave Herman</h3>
        <h4>Keynote</h4>
        <p>Dave Herman has served on TC39, the standards committee responsible for evolving JavaScript, since 2006, and founded Mozilla Research in 2011. At Mozilla, Dave advised and contributed to the development of Rust, the parallel browser engine Servo, asm.js, and WebAssembly. Dave has recently joined LinkedIn's build tools team, where he is looking at finding new ways to help developers dare to be ambitious.</p>
      </li>

      <li class="speaker keynote">
        <a href="https://twitter.com/aemeredith">
          <img src="/assets/images/elle.jpg" alt="Elle Meredith" />
        </a>
        <h3 class="author">Elle Meredith</h3>
        <h4>Keynote</h4>
        <p>Elle works as a consultant for Blackmill. Before Blackmill, she was a Development Director in the New York City office of thoughtbot. She believes in writing clean code, driven by automatic tests, with agile practices, an even work/life balance, and a respectful and inclusive team culture. She constantly works to improve her understanding of technologies, techniques, anti-patterns, and what is considered best practice. Her aim is to deliver clean, functional and user–friendly websites in an appropriate timeframe without wasting money or energy. Elle appreciates the value of strong communities. When she is not immersed in the Ruby community, she is probably immersed in water, or lately, in bread flour.</p>
      </li>

      {% for speaker in site.data.speakers limit: 8%}
        <li class="speaker">
          <a href="https://twitter.com/{{ speaker.twitter }}">
            <img src="https://twitter.com/{{ speaker.twitter }}/profile_image?size=original" alt="{{ speaker.name }}">
          </a>
          <h3 class="author">{{ speaker.name }}</p>
          <h4>{{ speaker.talk }}</h3>
          <p>{{ speaker.abstract }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="center-button">
    <a href="/conduct" class="button">Code of Conduct</a>
  </div>
</section>

<section class="schedule">
  <h2>Schedule</h2>
  <div class="schedule__item">
    <h3 class="schedule__item-time">9:00</h3>
    <div class="schedule_item-titles">
      <h3>Second Breakfast</h3>
      <h4>registration, coffee, tacos</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">10:00</h3>
    <div class="schedule_item-titles">
      <h3>Opening Remarks</h3>
      <h4>Absoluely dignified</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">10:14</h3>
    <div class="schedule_item-titles">
      <h3>Keynote: Elle Meredith</h3>
      <h4>Algorithms to live by and why should we care</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">11:00</h3>
    <div class="schedule_item-titles">
      <h3>Break</h3>
      <h4>Yeah, it's an awkwardly long break</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">11:29</h3>
    <div class="schedule_item-titles">
      <h3>Chris Arcand</h3>
      <h4>An Atypical 'Performance' Talk</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">12:00</h3>
    <div class="schedule_item-titles">
      <h3>Rolen Le</h3>
      <h4>Dungeons & Collaboration: A Player’s Handbook on How To Work With a
        Distributed Team</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">12:30</h3>
    <div class="schedule_item-titles">
      <h3>Lunch</h3>
      <h4>It's Halloween so your food might be extra "organic"</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">2:00</h3>
    <div class="schedule_item-titles">
      <h3>Ben Scofield</h3>
      <h4>Learning to see</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">2:30</h3>
    <div class="schedule_item-titles">
      <h3>Bradley Grzesiak</h3>
      <h4>kerbal_space_program.rb</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">3:02</h3>
    <div class="schedule_item-titles">
      <h3>Break</h3>
      <h4>Time is a flat circle</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">3:30</h3>
    <div class="schedule_item-titles">
      <h3>Cecy Correa</h3>
      <h4>The Psychology of Fake News (and What Tech Can Do About It)</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">4:00</h3>
    <div class="schedule_item-titles">
      <h3>Lightning Talks</h3>
      <h4>Many short talks!</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">4:30</h3>
    <div class="schedule_item-titles">
      <h3>Hug Break</h3>
      <h4>We promised and we deliver!</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">5:00</h3>
    <div class="schedule_item-titles">
      <h3>Dave Herman & Yehuda Katz</h3>
      <h4>We have no idea what they're gonna talk about but we hope it's like
        synchronized swimmming</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">5:45</h3>
    <div class="schedule_item-titles">
      <h3>Closing Remarks</h3>
      <h4>We'll play "Closing Time" by Semisonic and shepherd you out like the
        last wedding you went to</h4>
    </div>
  </div>
  <div class="schedule__item">
    <h3 class="schedule__item-time">7:00</h3>
    <div class="schedule_item-titles">
      <h3>PARTY @ <a href="https://goo.gl/maps/nd5FPKQeFHN2">Hops and Grain Brewing</a></h3>
      <h4>Why you come to conferences.</h4>
    </div>
  </div>
</section>

<section class="sponsors">
    <h2>Meet the sponsors</h2>

    <ul class="sponsors__list">
      <li class="sponsors__list-item">
        <a href="https://www.bigcommerce.com/careers/">
          <img alt="BigCommerce logo" src="https://s3.amazonaws.com/www1.bigcommerce.com/assets/mediakit/downloads/BigCommerce-logo-dark.png">
        </a>
      </li>

      <li class="sponsors__list-item">
        <a href="https://story.manifold.co/">
          <img alt="Manifold logo" src="/assets/images/manifold.png">
        </a>
      </li>

      <li class="sponsors__list-item">
        <a href="https://omc.io/">
          <img alt="One More Cloud logo" src="/assets/images/one-more-cloud.png">
        </a>
      </li>
    </ul>

    <div class="sponsor">
      <h3 class="headline">PLEASE support our weirdness with the gererosity of Your
        Friendship</h3>
      <p>Keep Ruby Weird can't happen without help from sponsors. We have a few different sponsorship levels, and of course we're open to other arrangements.</p>
      <a href="mailto:organizers@keeprubyweird.com" class="button">Sponsor Us</a>
    </div>
  </div>
</section>

<section class="alamo">
  <div class="alamo__content">
    <h2>Alamo Drafthouse Ritz</h2>
    <h3><a href="https://goo.gl/maps/xGrckMPTNcF2">320 E 6th St. Austin TX</a></h3>
    <p>The Conference venue is the historically weird Alamo Ritz Drafthouse, located in the heart of downtown. Each theater seat has its own table. During the conference you'll enjoy some weird talks as you're served gourmet food from the comfort of your oversized seat. All in front of one of the largest screens we've ever seen.</p>
  </div>
</section>

<section class="history hero__container">
  <div class="history__content">
    <h2>See our past talks</h2>
    <h3>2014 • 2015 • 2016</h3>
    <p>We love spreading the love. That’s why we record and publish all the amazing talks that have been given at KRW. <a href="http://confreaks.tv/conferences/keep-ruby-weird">Dive into our libary of 25 videos.</a> </p>
  </div>
  <a href="http://confreaks.tv/conferences/keep-ruby-weird" class="history__image"><img src="/assets/images/video.png" alt=""></a>
</section>

<ul class="tweets">
  <li>
    <blockquote>
      <p>If you are at @keeprubyweird smell your name tag.</p>
    </blockquote>
    <div class="author">
      <a href="https://twitter.com/adam_lowe/status/792020280478621696">
        <img src="/assets/images/adam.png" alt="">
      </a>
      <p class="commentary">Perfume de weird</p>
    </div>
  </li>
  <li>
    <blockquote>
      <p>Any #keeprubyweird people still in town want to meet for dinner tonight? 🍽</p>
    </blockquote>
    <div class="author">
      <a href="https://twitter.com/CMaresh/status/792438515812315136">
        <img src="/assets/images/charles.png" alt="">
      </a>
      <p class="commentary">I do like dinner!</p>
    </div>
  </li>
  <li>
    <blockquote>
      <p>Had an amazing time @keeprubyweird great conference and good time spent with friends ❤️</p>
    </blockquote>
    <div class="author">
      <a href="https://twitter.com/bryanaknight/status/792457103092817921">
        <img src="/assets/images/bryana.png" alt="">
      </a>
      <p class="commentary">The feeling is mutual!</p>
    </div>
  </li>
</ul>

<footer>
  <div class="footer__container">
    <h3>Save the Date: October 27, 2017</h3>
    <a href="https://ti.to/keep-ruby-weird/more-weird" class="button">Buy your ticket now!</a>
    <h2><a href="https://thoughtbot.com/austin">Designed with love &amp; tacos by thoughtbot atx</a></h2>

    <ul>
      <li>
        <a href="mailto:organizers@keeprubyweird.com">Email us</a>
      </li>
      <li>
        <a href="https://www.papercall.io/krw-2017">CFP</a>
      </li>
      <li>
        <a href="/conduct">Code of Conduct</a>
      </li>
      <li>
        <a href="/mailing-list">Mailing List</a>
      </li>
      <li>
        <a href="mailto:organizers@keeprubyweird.com">Sponsor us!</a>
      </li>
      <li>
        <a href="https://twitter.com/keeprubyweird">See tweeting</a>
      </li>
    </ul>
  </div>
</footer>
