---
layout: default
title: Join the best Keep Ruby Wierd 2017 mailing list ever. EVER.
---

<header class="hero">
  <div class="hero__container">
    <h1 class="logo"><a href="/">Keep Ruby Weird 2017</a></h1>
    <h2 class="date">October 27, 2017</h2>
    <h2 class="address"><a href="https://goo.gl/maps/xGrckMPTNcF2">320 E 6th St., Alamo Drafthouse Ritz, Austin TX</a></h2>
    <h1 class="headline"><strong>You can join our super-duper mailing list and we&rsquo;ll let you know what we're up to.</strong></h1>

    <div class="emailemailemail">
      <div id="mc_embed_signup">
        <form action="//keeprubyweird.us8.list-manage.com/subscribe/post?u=d866efd09be0d76bb3f29e8d6&amp;id=a6d5e7a425" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="eating@tacostacostacos.com">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d866efd09be0d76bb3f29e8d6_a6d5e7a425" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Submit email" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>

      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>

    <ul class="social">
      <li>
        <a href="https://github.com">
          {% include github.svg %}
        </a>
      </li>
      <li>
        <a href="https://pbs.twimg.com/media/CPhvrB9WoAAOEPN.jpg">
          {% include linkedin.svg %}
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/explore/tags/keeprubyweird/">
          {% include instagram.svg %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/keeprubyweird">
          {% include twitter.svg %}
        </a>
      </li>
      <li>
        <a href="https://myspace.com">
          {% include facebook.svg %}
        </a>
      </li>
      <li>
        <a href="http://www.martinshervington.com/what-is-google-plus/">
          {% include google.svg %}
        </a>
      </li>
    </ul>
  </div>
</header>

<footer>
  <div class="footer__container">
    <h3>Save the Date: October 27, 2017</h3>
    <a href="https://ti.to/keep-ruby-weird/more-weird" class="button">Buy your ticket now!</a>
    <a href="/mailing-list" class="button">Join the Mailing List</a>
    <h2><a href="https://thoughtbot.com/austin">Designed with love &amp; tacos by thoughtbot atx</a></h2>

    <ul>
      <li>
        <a href="mailto:organizers@keeprubywierd.com">Email us</a>
      </li>
      <li>
        <a href="https://www.papercall.io/krw-2017">CFP</a>
      </li>
      <li>
        <a href="/conduct">Code of Conduct</a>
      </li>
      <li>
        <a href="/mailing-list">Mailing List</a>
      </li>
      <li>
        <a href="mailto:organizers@keeprubyweird.com">Sponsor us!</a>
      </li>
      <li>
        <a href="https://twitter.com/keeprubyweird">See tweeting</a>
      </li>
    </ul>
  </div>
</footer>
