---
layout: default
title: Join the best Keep Ruby Wierd 2017 mailing list ever. EVER.
---

<header class="hero">
  <div class="hero__container">
    <h1 class="logo"><a href="/">Keep Ruby Weird 2017</a></h1>
    <h2 class="date">October 27, 2017</h2>
    <h2 class="address">320 E 6th St., Alamo Drafthouse Ritz, Austin TX</h2>
    <h1 class="headline">We are not selling tickets just yet but you can join our super-duper mailing list. <strong>We'll only mail you the best spam, offers, and recruitment messages.</strong></h1>

    <div class="emailemailemail">
      <input type="text" name="" value="">
      <a href="#" class="button">Enter your email</a>
    </div>

    <ul class="social">
      <li>
        <a href="https://github.com">
          {% include github.svg %}
        </a>
      </li>
      <li>
        <a href="https://pbs.twimg.com/media/CPhvrB9WoAAOEPN.jpg">
          {% include linkedin.svg %}
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/explore/tags/keeprubyweird/">
          {% include instagram.svg %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/keeprubyweird">
          {% include twitter.svg %}
        </a>
      </li>
      <li>
        <a href="https://myspace.com">
          {% include facebook.svg %}
        </a>
      </li>
      <li>
        <a href="http://www.martinshervington.com/what-is-google-plus/">
          {% include google.svg %}
        </a>
      </li>
    </ul>
  </div>
</header>

<footer>
  <div class="footer__container">
    <h2><a href="https://thoughtbot.com/austin">Designed with love &amp; tacos by thoughtbot atx</a></h2>

    <ul>
      <li>
        <a href="#">Email us</a>
      </li>
      <li>
        <a href="#">CFP</a>
      </li>
      <li>
        <a href="#">Code of Conduct</a>
      </li>
      <li>
        <a href="#">Sponsor us!</a>
      </li>
      <li>
        <a href="#">See tweeting</a>
      </li>
    </ul>
  </div></footer>
