---
layout: default
title: Join the best Keep Ruby Wierd 2017 mailing list ever. EVER.
---

<header class="hero">
  <div class="hero__container">
    <h1 class="logo">Keep Ruby Weird 2017</h1>
    <h2 class="date">October 27, 2017</h2>
    <h2 class="address">320 E 6th St., Alamo Drafthouse Ritz, Austin TX</h2>
    <h1 class="headline">We are not selling tickets just yet but you can join our super-duper mailing list. We'll only mail you the best spam, stupid offers, and recruitment messages.<stong></strong></h1>

    <div class="buybuybuy">
      <a href="#" class="button">Enter your email</a>
    </div>

    <ul class="social">
      <li>
        <a href="https://github.com">
          {% include github.svg %}
        </a>
      </li>
      <li>
        <a href="https://pbs.twimg.com/media/CPhvrB9WoAAOEPN.jpg">
          {% include linkedin.svg %}
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/explore/tags/keeprubyweird/">
          {% include instagram.svg %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/keeprubyweird">
          {% include twitter.svg %}
        </a>
      </li>
      <li>
        <a href="https://myspace.com">
          {% include facebook.svg %}
        </a>
      </li>
      <li>
        <a href="http://www.martinshervington.com/what-is-google-plus/">
          {% include google.svg %}
        </a>
      </li>
    </ul>
  </div>
</header>

<ul class="tweets">
  <li>
    <blockquote>
      <p>I’ve made a huge mistake by not attending @keeprubyweird again…</p>
      <a href="#">
        <img src="" alt="">
      </a>
    </blockquote>
    <p class="commentary">Yea, Duh!</p>
  </li>
  <li>
    <blockquote>
      <p>@olivierlacan @keeprubyweird OMG. I can't look away. I think I have new desktop background</p>
      <a href="#">
        <img src="" alt="">
      </a>
    </blockquote>
    <p class="commentary">More new backgrounds!</p>
  </li>
  <li>
    <blockquote>
      <p>I didn't learn any routines or a new magic show, but I have a few new neat tricks and ideas from @keeprubyweird #hashtag</p>
      <a href="#">
        <img src="" alt="">
      </a>
    </blockquote>
    <p class="commentary">Sorry we failed you!</p>
  </li>
</ul>

<footer>
<div class="footer__container">
  <h3>Save the Date: October 27, 2017</h3>
  <a href="#" class="button">Buy your ticket now!</a>
  <h2><a href="https://thoughtbot.com/austin">Designed with love &amp; tacos by thoughtbot atx</a></h2>

  <ul>
    <li>
      <a href="#">Email us</a>
    </li>
    <li>
      <a href="#">CFP</a>
    </li>
    <li>
      <a href="#">Code of Conduct</a>
    </li>
    <li>
      <a href="#">Sponsor us!</a>
    </li>
    <li>
      <a href="#">See tweeting</a>
    </li>
  </ul>
  </div></footer>
