// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: "Bitter", $font-stack-system;
$heading-font-family: "LemonBird", $base-font-family;
$seconday-heading-font-family: "Pathway Gothic One", $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$x-large-spacing: $base-spacing * 3;
$xx-large-spacing: $base-spacing * 4;
$xxx-large-spacing: $base-spacing * 7;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #474747;
$medium-gray: #999;
$light-gray: #ddd;
$purple: #ea56fd;
$teal: #60fcdc;
$mustard: #fdca59;
$orange: #fd9a59;
$red: #fd5959;
$dark-purple: #b657fd;
$pink: #fa59fd;
$mint: #b2e76e;
$flesh: #e7b397;
$hot-pink: #f43157;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $purple;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
